@CHARSET "ISO-8859-1";

@CHARSET "ISO-8859-1";

head
{
	font-family:Verdana, Arial, sans-serif;
}
body
{
	background-color:#DEF6FC;
	background:url("http://fc02.deviantart.net/fs70/f/2013/165/8/5/ice_ice_baby___blue_stock_texture_by_jrmb_stock-d690u7c.png");
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:bold; font-size:150%; color:white}
p
{
	font-family:Verdana, Arial, sans-serif;
}
h2
{
	font-family:"Century Gothic", Verdana, sans-serif;
}